body{
    background-color: aqua;
}


.input{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 23px;
}

.inputTextArea{
    font-size: 23px;
    padding: 5px;
}

.bodyTextArea{
    width: 400px;
    height: 350px;
}

@media only screen and (max-device-width: 600px) {
    .inputTextArea{
        font-size: 15px;
        width: 220px;
        height: 24px;

    }
    
    .bodyTextArea{
        width: 230px;
        height: 200px;
    }
}